.git
.github
node_modules
vendor
public/build
public/hot
public/storage
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
tests
*.md